body {
  font-family: sans-serif;
  margin: 0;
}

.header {
  padding-top: 45px;
  padding-bottom: 145px;
  background-color: #f8f8f8
}

.container {
  max-width: 1140px;
  
  margin: auto;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 18px;
  font-weight: 800;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav__item {
  margin-right: 20px;
  font-size: 14px;
}

.nav__item:last-child {
  margin-right: 0;
}

.phone {
  font-size: 16px;
  font-weight: 800;
  color: #000000;
  text-decoration: none;
;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content__text {
  flex-basis: 50%;
}

.header-content__image {
  min-width: 600px;
}

.header-content__title {
font-size: 58px;
margin-bottom: 23px
}
.header-content__description {
  font-size: 17px;
  line-height: 160%;
}

.button {
  background-color: #FF6C6C;
;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
  padding: 15px 56px;
  border-radius: 4px;
}

.button--shadow {
  box-shadow: (0px 10px 25px rgba(255, 108, 108, 0.5));
}